<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kiba.k_framework.mapper.Kiba_DepartmentMapper">


    <select id="test" resultType="com.kiba.k_framework.entity.Kiba_Department" parameterType="Integer">
        select * from Kiba_Department where id=#{value}
    </select>



</mapper>